$cardWidth : 109px * 0.8;
$cardHeight : 150px * 0.8;

body, html {
    background-color:#008080;    
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

.emptyCard {
    width:$cardWidth;
    height:$cardHeight;  
    margin:2px;
    display: inline-block; 
    border: 1px solid black;
    border-radius: 4px;
}

.card {
    @extend .emptyCard;
    background: url('../images/cards-small.jpg')  no-repeat;   
    //background-size: ($cardWidth + 2) * 9, ($cardHeight + 4) * 9;
}

.back {
    @extend .emptyCard;
    background:url('../images/back.png') center no-repeat;
}

$cardSmallWidth : 55px;

.empty_back {
    width:$cardSmallWidth;
    height:75px;  
    margin:2px;
    display: inline-block; 
    border: 1px solid transparent;
    border-radius: 4px;
}

.small_back {
    @extend .empty_back;
    border: 1px solid black;
    border-radius: 4px;
    background:url('../images/back_small.png') center no-repeat;
}

 .money {
        font-size: 15pt;
        color: gold;
        font-weight: bold;
        text-align: center;

        .coin {
            padding-right: 20px;
            background: url('../images/coins.png') right no-repeat;
        }
    }

.table {  

    .bank {
        @extend .money;
    }

    .left_gamer {
        margin-left: 20px;
        width: $cardSmallWidth * 4 + 4 * 4+10;
        float: left;

        h2 {
            text-align: center;
        }
    }

    .main {
        margin-left: auto;
        margin-right: auto;
        width: 9 * $cardWidth + 4 * 9 + 20;
        padding: 5px;
        -moz-border-image: url(../images/chalk_border.png) 20 20 20 20 repeat repeat;
        -o-border-image: url(../images/chalk_border.png) 20 20 20 20 repeat repeat;
        -webkit-border-image: url(../images/chalk_border.png) 20 20 20 20 repeat repeat;
        border-image: url(../images/chalk_border.png) 20 20 20 20 repeat repeat;
        border-width: 20px;
    }

    .right_gamer {
        margin-right: 20px;
        width: $cardSmallWidth * 4 + 4 * 4+10;
        float: right;

        h2 {
            text-align: center;
        }
    }

    .current_gamer {
        margin-top: 10px;
        width: $cardWidth * 13;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: $cardHeight + 20;
        .card {
            -moz-transition-property: margin-bottom;
            -o-transition-property: margin-bottom;
            -webkit-transition-property: margin-bottom;
            transition-property: margin-bottom;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;           

            vertical-align:bottom;
            margin-bottom: 0;
        }
        

        .can {
            margin-bottom: 15px;
        }
    }
}

.gameResult {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    padding:50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lobby {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    padding:50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    button {

    }
}

a.btn {
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}