@import "Consts";
@import "GamePage";
@import "GameResultPage";
@import "Chat";
@import "LobbyPage";

body, html {
    background-color:#008080;    
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

.emptyCard {
    width:$cardWidth;
    height:$cardHeight;  
    margin:2px;
    display: inline-block; 
    border: 1px solid black;
    border-radius: 4px;
}

.card {
    @extend .emptyCard;
    background: url('../images/cards-small.jpg')  no-repeat;   
    //background-size: ($cardWidth + 2) * 9, ($cardHeight + 4) * 9;
}

.back {
    @extend .emptyCard;
    background:url('../images/back.png') center no-repeat;
}


.empty_back {
    width:$cardSmallWidth;
    height:75px;  
    margin:2px;
    display: inline-block; 
    border: 1px solid transparent;
    border-radius: 4px;
}

.small_back {
    @extend .empty_back;
    border: 1px solid black;
    border-radius: 4px;
    background:url('../images/back_small.png') center no-repeat;
}

.coin {
    padding-right: 20px;
    background: url('../images/coins.png') right no-repeat;
    color: gold;
 }

 .money {
        font-size: 15pt;
        color: gold;
        font-weight: bold;
        text-align: center;        
 }




a.btn {
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}


.user{
    display:inline-block;
    border:1px solid black;
    padding:5px;
    margin:2px;
    background-color:black;

    .computer{
        width:100px;
        height:100px;
        background:url(../Images/Computer.jpg) center no-repeat
    }

    .guest{
        width:100px;
        height:100px;
        background:url(../Images/guest.jpg) center no-repeat
    }
}